body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #000000;
  color: #fff;
  padding-bottom: 0px;
  padding-top: 10px;
  text-align: center;
}
nav {
    background-color: #d90808;
    color: #ffffff;
    /* box-shadow: 0px 2px 9px #676767; */
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline-block;
    padding: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #ffffff;
  }
  
  nav ul li a:hover {
    color: #000000;
    text-decoration: none;
    font-style : normal;
  }

  #menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
  }

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  #menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin-right: 85%;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #ffffff;
  margin: 5px 0;
}

/* Styles pour la version responsive */
@media only screen and (max-width: 768px) {
  #menu-toggle {
      display: block; /* Afficher le bouton hamburger */
  }
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed; /* Assurez-vous que le menu reste fixe lors du défilement */
    /* top: 15.5%; */
    left: -100%; /* Cachez la liste en dehors de l'écran */
    transition: left 0.3s ease; /* Ajoutez une transition pour une animation fluide */
    background-color: #ffffff;
    width: 100%;
    height: 100%;
}

nav ul.active {
    left: 0; /* Affichez la liste à partir de la gauche */
}

nav ul li {
    display: block;
}

nav ul li a {
    display: flex;
    align-items: flex-start;
    padding: 0;
    text-decoration: none;
    color: #000; /* Assurez-vous que le texte est visible */
    border-bottom: 1px solid #c4c4c4;
    height: 25px;
    font-family: Roboto, Verdana, Arial;
    font-size: 14pt;
}
}  
  
main {
    width: 80%;
    margin: 0 auto ;
    /* margin-left: 14%; */
  }
  
h1 {
  /* margin-top: 0; */
  margin-bottom: 23px;
}

p {
  margin-bottom: 10px;
  padding-bottom: 10px;
  color: #000000;
}

.sous_titre {
    margin-bottom: 10px;
    padding-bottom: 10px;
    color: #ffffff;
    font-size: 14px;
  }

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#accueil {
  background-color: #ddd;
  padding: 20px;
}

#services, #pieces, #promotions, #contact {
  padding: 20px;
}

#services ul, #pieces ul, #promotions ul, #contact ul {
  list-style: none;
  padding: 0;
}

#services ul li, #pieces ul li, #promotions ul li, #contact ul li {
  margin-bottom: 10px;
}

#promotionsList {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    /* justify-content: space-around; */    
  }
  
  .produit {
    width: 19%;
    margin: 10px;
    padding: 5px;
    border: 1px solid #ddd;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 2%;
    box-shadow: 1px 1px 15px #cbcbcb;
  }

  
  .produit img {
    width: 85%;
    height: auto;
    margin-bottom: -10px;
  }
  
  .produit h3 {
    font-size: 15px;
    margin-bottom: 5px;
  }
  
  .prix {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ddd; 
    font-size: 14px;
  }
  
  .ancien-prix {
    text-decoration: line-through;
    margin-right: 2px;
    color: #7e7e7e;
    font-size: 14px;

  }
  
  .prix-promo {
    font-weight: bold;
    font-size: 14px;

  }
  

  
  .reduction {
    background-color: red;
    color: white;
    padding: 2px 5px;
    margin-bottom: 5px;
    margin-left: 10px;
  }

  .reduction_index {
    background-color: red;
    color: white;
    padding: 2px 5px;
    margin-bottom: 5px;
  }

.adresse{
    font-size: 13px;
}

/* page contacte debut */
.container {
  display: flex;
}

.image-container {
  flex: 1;
  max-width: 500px;
}

.content-container {
  flex: 1;
  padding: 20px;
}

h1 {
  /* text-align: left; */
  font-size: 24px;
}

p {
  /* text-align: left; */
  font-size: 16px;
}

/* ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
} */

/* fin */

#servicesList {
  /* display: flex; */
  flex-wrap: wrap;
}

#servicesList img {
  margin: 10px;
  max-width: 30%;
  margin-top: 25px;
}

@media (max-width: 768px) {
  #servicesList img {
    max-width: 43%;
    margin-top: 10px;
  }
}



#panier {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  text-align: left;
}

tfoot td {
  font-weight: bold;
}

button {
  padding: 10px 20px; /* Ajoutez du rembourrage pour améliorer l'apparence */
  background-color: #4CAF50; /* Couleur de fond */
  color: white; /* Couleur du texte */
  border: none; /* Supprimez la bordure */
  border-radius: 5px; /* Ajoutez des coins arrondis */
  cursor: pointer; /* Changez le curseur pour indiquer que le bouton est cliquable */
  margin-right: 10px; /* Ajoutez une marge à droite pour les espacer */
}

button:hover {
  background-color: #45a049; /* Changez la couleur de fond au survol */
}

h5{
  color: #9d9d9d;
  margin: 0;
  font-size: 13px;
}
footer {
  background-color: #000000;
  color: #fff;
  padding: 10px;
  text-align: center;
  margin-top: 45px;
}
/* Media queries for different screen sizes */
@media (max-width: 768px) {
    /* Additional responsive adjustments for smaller screens */
    main {
      width: 95%;
      margin: 0 auto;
      margin-left: 19px;
    }


    .produit {
      width: 40%; /* Adjust product width for smaller screens */
      margin: 3px; /* Reduce margin between products */
    }
    
    .produit img {
      width: 100%;
      height: auto;
      margin-bottom: -10px;
  }

  }
  
  @media (max-width: 480px) {
    /* Responsive adjustments for very small screens */
    main {
      width: 95%;
      margin: 0 auto;
      /* margin-left: 11px;
      padding-left: 5px; */
    }

    #promotionsList {
      justify-content: space-around;
    }

    

    .produit {
      width: 45%; /* Make products full width on very small screens */
      margin: 3px;
    }



    .produit img {
      width: 100%;
      height: auto;
      margin-bottom: -10px;
  }

    

    .prix {
      margin-top: 10px;
      padding: 4px;
      border: 1px solid #ddd;
  }  
}
